.setting-page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  .navigation-bar{
    .action a{
      color: #5393ff;
    }
  }
  fieldset {
    flex: 1;
    margin: 0;
    border: 0;
    padding: 0;
  }
  .row{
    padding: 0 30px;
    width: 100%;
    height: 100px;
    font-size: 30px;
    border-bottom: 1px solid #e5e5e5;
    background: white;
    display: flex;
    align-items: center;
    color: #333;
  }
  input{
    font-size: 30px;
    height: 100%;
    text-align: right;
  }
  .space-between{
    justify-content: space-between;
  }
  .row .arrow{
    transform: rotate(180deg);
    color: #c6c6c6;
  }
  form{
    background: #f6f6f6;
    flex: 1;
    display: flex;
    flex-direction: column;
    fieldset{
      border: 0;
      padding: 0;
      margin: 0;
      flex:1;
      display: flex;
      flex-direction: column;
      p{
        margin: 0;
      }
      input{
        font-family: inherit;
        outline: 0;
        border: 0;
      }
    }
  }
  button{
    width: 100%;
    height: 90px;
    font-size: 30px;
    font-family: inherit;
    color: white;
    background: #4a9fff;
    border: 0;
    &[disabled]{
      background: #d6d6d6;
    }
  }
}