.test-category{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .item{
    width: 25%;
    height: 200px;
    border-left: 1px solid  #f4f4f4;
    border-bottom: 1px solid  #f4f4f4;
    position: relative;
    display: block;
    color: #333;
    .icon-wrapper{
      height: 160px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg{
      max-width: 110px;
      max-height: 110px;
      text{
        font-size: 30px;
        font-weight: bold;
      }
    }
    .name{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      display: block;
      text-align: center;
    }
  }
}