.navigation-bar{
  height: 90px; 
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  .arrow, .title, .action {
    display: inline-block;
    align-content: center;
    padding: 0 30px;
  }
 
  .title{
    color: #333; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.fusion {
    .title, .action {
      color: inherit;
    }
    border-color: transparent;
  }
}