.navigation-bar{
  height: 90px; 
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  border-bottom: 1px solid #E5E5E5;
  .arrow, .title, .action {
    display: inline-block;
    align-content: center;
    padding: 0 30px;
  }
  .arrow{
    color: #5393ff;
    padding: 30px;
    .arrow-inner{
      transform: rotate(45deg);
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      &:after, &:before{
        content: ' ';
        display: block;
        position: absolute;
        background: currentColor;
      }
      &:after{
        bottom: 0;
        height: 4px;
        left: 0;
        right: 0;
      }
      &:before{
        bottom: 0;
        width: 4px;
        left: 0;
        top: 0;
      }
    }
  }
  .title{
    color: #333; 
  }

  &.fusion {
    .title, .action {
      color: inherit;
    }
    border-color: transparent;
  }
}