.date-cell{
  &[disabled] {
    opacity: 0.5;
  }
}
.calendar{
  font-size: 30px;
  .calendar-header{
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 75px;
    line-height: 75px;
  }

  .canvas-wrapper{
    height: 450px;
  }

  .dates{
    color: white;
    .high-light{
      background: white;
      color: #5393ff;
    }
  }

  canvas{
    width: 100%;
    vertical-align: top;
  }
}