.calendar-page{
  header{
    background: linear-gradient(to bottom, #6677ff, #48a2ff);
  }
  .navigation-bar{
    color: white;
    .arrow{
      color: white;
    }
    .action a{
      color: white;
    }
  }
}