.home-page{
  header{
    background: linear-gradient(to bottom, #6677ff, #48a2ff);
  }
  .navigation-bar{
    color: white;
    transform: translateY(15px);
    .arrow{
      display: none
    }
    .title{
      position: static;
      transform: none;
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      .month{
        font-weight: bold;
      }
      a{
        color: white;
        font-size: 20px;
      }
    }

    .login{
      font-size: 15px;
    }
  }
  .calendar-scroller {
    color: white;
    font-size: 30px;
  }
}