.home-page{
  header{
    background: linear-gradient(to bottom, #6677ff, #48a2ff);
    position: relative;
    >svg{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  .navigation-bar{
    color: white;
    transform: translateY(15px);
    .arrow{
      display: none
    }
    .title{
      position: static;
      transform: none;
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      .month{
        font-weight: bold;
      }
      a{
        color: white;
        font-size: 20px;
      }
    }

    .login, .logout{
      font-size: 15px;
    }
  }
  .calendar-scroller {
    color: white;
    font-size: 30px;
  }
  .dialog{
    input{
      outline: 0;
      font-family: inherit;
      border: 0;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
      font-size: 30px;
    }
  }
}