.search-page{
  position: absolute;
  background: #efefef;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .empty{
    font-size: 20px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation-bar{
    background: white;
    border-bottom: 1px solid #dcdcdc;
    .title {
      flex: 1;
    }
    .arrow{
      display: none;
    }
    .action {
      color: #5393ff;
    }
  }

  input{
    width: 100%;
    font-family: inherit;
    background: #efefef;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    border-radius: 30px;
    border: 0;
    padding: 0 80px;
    outline: none;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      height: 120px;
      border-bottom: 1px solid #e5e5e5;
      background: white;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .student{
      .name{
        font-size: 30px;
      }
      .no{
        font-size: 20px;
      }
    }
    a{
      font-size: 18px;
      color: #a2a2a2;
    }
  }
}