.search-page{
  position: absolute;
  background: #efefef;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  .tip{
    font-size: 20px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    svg{
      width: 100px;
      margin-bottom: 30px;
    }
  }
  .navigation-bar{
    background: white;
    border-bottom: 1px solid #dcdcdc;
    .title {
      top: 0;
      left: 0;
      flex: 1;
      transform: none;
      position: relative;
      svg{
        position: absolute;
        left: 50px;
        top: 10px;
        color:  #b5b4b9;
      }
    }
    .arrow{
      display: none;
    }
    .action {
      color: #5393ff;
    }
  }

  input{
    width: 100%;
    font-family: inherit;
    background: #efefef;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    border-radius: 30px;
    border: 0;
    padding: 0 80px;
    outline: none;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1;
    overflow-y: auto;
    li{
      height: 120px;
      border-bottom: 1px solid #e5e5e5;
      background: white;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a{
      color: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }
    .student{
      .name{
        font-size: 30px;
      }
      .no{
        font-size: 20px;
      }
    }
    span{
      font-size: 18px;
      color: #a2a2a2;
    }
  }
}