.calendar-scroller{
  position: relative;
  overflow: hidden;
  .canvas-wrapper {
    height: 170px;
    canvas{
      width: 100%;
    }
  }
  .slide{
    width: 200%;
    position: absolute;
    height: 100%;
    left: -50%;
  }
  .container{
    position: absolute;
    height: 100%;
    left: -50%;
    left: 25%;
    width: 75%;
    text-align: center;
  }

  .date {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    &.active {
      background: red;
    }
  }
}