.daily-report{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  &.testing{
    .navigation-bar{
      pointer-events: none;
      opacity: 0.5;
    }
    .calendar-container{
      pointer-events: none;
      opacity: 0;
    }
    .tab>ul{
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .navigation-bar{
    background-color: white;
    position: relative;
    z-index: 2;
    .title{
      text-align: center;
      .date{
        font-size: 20px;
      }
      .big-date{
        font-size: 30px;
      }
    }
    .action a{
      color: #5393ff;
      font-size: 30px;
    }
    .date::after, .big-date::after{
      content: ' ';
      display: inline-block;
      width: 0;
      height: 0;
      border: 7px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #d6d6d6;
      margin-left: 10px;
      transform: translateY(5px);
    }
    .big-date::after{
      border-top-color: transparent;
      border-bottom-color: #d6d6d6;
      border-width: 10px;
      transform: translateY(-7px);
    }
  }
  .calendar{
    .calendar-header{
      color: #5393ff;
    }
    .dates{
      color: #333;
      .high-light{
        color: white;
        background-color: #5393ff;
      }
    }
    .note{
      color: #5393ff;
    }
  }
  .calendar-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    background-color: white;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    &.show{
      transform: translateY(0);
    }
  }
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    &.show{
      opacity: 1;
      pointer-events: all;
    }
  }
  .tab{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    >ul{
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      border-bottom: 1px solid #e5e5e5;
      background: white;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        flex: 1;
        height: 70px;
        border-bottom: 4px solid transparent; 
        &.active{
          color: #5393ff;
          border-bottom-color: #5393ff;
        }
      }
    }
    .test{
      flex: 1;
      overflow-y: auto;
    }
  }
  .test-result{
    flex: 1;
    overflow-y: auto;
  }
  .sync {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 90px;
    font-size: 30px;
    font-family: inherit;
    color: white;
    background-color: #5393ff;
    width: 100%;
    &::-webkit-progress-bar{
      background-color: #efefef;
    }
    &::-webkit-progress-value{
      background-color: #5393ff;
    }
  }
}