<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--SDK监听的IP地址-->
    <add key="IpAddress_Server" value="127.0.0.1"/>
    <!--SDK监听的通讯端口-->
    <add key="PORT_Server" value="8888"/>

    <add key="SleepTime" value="3000"/>
    
  </appSettings>
  <connectionStrings>
    <!--记录log日志路基-->
    <!--<add name="LogPath"  connectionString="c:\log\SDKLog" />-->
  </connectionStrings>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="wcf">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8889/SDKWCFService" />
          </behavior>
          <behavior name="wcf1">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8887/SDKWCFService"/>
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service behaviorConfiguration="wcf" name="SDKWCFServiceApplication.Service1">
          <endpoint address="http://127.0.0.1:8889/SDKWCFService" binding="basicHttpBinding"
            bindingConfiguration="" contract="SDKWCFServiceApplication.IService1" />
          <host>
            <baseAddresses>
              <add baseAddress="http://127.0.0.1:8889/SDKWCFService" />
            </baseAddresses>
          </host>
        </service>
        <service name="SDK.WCFService1" behaviorConfiguration="wcf1">
          <endpoint address="" binding="wsHttpBinding" contract="SDK.IWCFService1">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8732/Design_Time_Addresses/SDK/WCFService1/" />
            </baseAddresses>
          </host>
        </service>
      </services>
        <bindings>
            <basicHttpBinding>
                <binding name="DataInterCenterSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360000" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="81920000"
                        maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="DataInterCenterSoap12">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192000"
                            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://180.166.214.194:9001/DataInterCenter.asmx"
                binding="basicHttpBinding" bindingConfiguration="DataInterCenterSoap"
                contract="DataCenter.DataInterCenterSoap" name="DataInterCenterSoap" />
            <!--<endpoint address="http://218.242.137.27:9001/DataInterCenter.asmx"
                binding="customBinding" bindingConfiguration="DataInterCenterSoap12"
                contract="DataCenter.DataInterCenterSoap" name="DataInterCenterSoap12" />-->
        </client>
    </system.serviceModel>
</configuration>