.test-result-item{
  height: 120px;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  .student{
    .name{
      font-size: 30px;
    }
    .code{
      font-size: 20px;
    }
  }
  .result{
    .score{
      font-size: 30px;
    }
  }

}
.test-result {
  .empty{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}